<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="@string/applovin_sdk_key" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name=".activity.ActivitySplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityPostDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityCategoryDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityComment"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityCommentSend"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityRedirect"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivitySearch"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityWebView"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivityImageDetail"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".activity.ActivitySettings"
            android:configChanges="orientation|keyboardHidden|screenSize" />

    </application>

</manifest>